/*
	$Source: /Users/Shared/CVS/Hauptplatz/html/pages.css,v $
	$Revision: 2.1 $
	$Date: 2012/12/23 13:10:54 $
	$Author: dany $
*/


/* gerneral settings */	
body {
	border-collapse: collapse;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

h2 {
	margin: 0px;
	font-family: Verdana, Helvetica;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 10px;
}

ul, li, p {
	margin: 0px;
	text-align: justify;
	font-family: Verdana, Helvetica;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

ul, li {
	margin-top: -4px;
	margin-left: 10px;
	padding-left: 10px;
}

.credit {
	margin: 0px;
	font-family: Tahoma, Sans-Serif;
	color: #000;
	padding-bottom: 16px;
	padding-left: 10px;
	padding-right: 10px;
}

#menu {
	/* position: absolute; */
	display: none;
	bottom: 10px;
	left: 0px;
	right: 0px;
	text-align: center;
	font: 10.0px Verdana; color: #666666;
}

#menu a {
	color: #880000;
}

#menu a:hover {
	color: #f00000;
}

.english {
	color: #666;
}

.recordistatwork {
}

.recordistview {
	width: 100%;
}

.cropper {
	height: 20px;
	width: 20px;
	overflow: hidden;
	text-align: left;
	vertical-align: bottom;
}

.cropper img {
	height: 40px;
}

.page3buttons td {
	padding-right: 10px;
	font-family: Tahoma, Sans-Serif;
	font-size: 10px;
}

.page3buttons {
	padding-left: 20px;
}

/* screen size for 1920 x 1080 / full hd */
@media screen and (max-width: 640px) {
	h2 {
		font-size: 18.0px;
		padding-bottom: 10px;
	}
	
	ul, li, p {
		font-size: 14.0px;
		padding-bottom: 10px;
	}
	
	.credit {
		font-size: 12.0px;
	}

	.page3buttons td {
		font-size: 14px;
	}
}

/* screen size for 1440 x 900 / laptop 15" size */
@media screen and (max-width: 480px) {
	h2 {
		font-size: 16.0px;
		padding-bottom: 10px;
	}
	
	ul, li, p {
		font-size: 12.0px;
		padding-bottom: 10px;
	}
	
	.credit {
		font-size: 10.0px;
	}

	.recordistatwork {
		width: 230px;
	}

	.page3buttons td {
		font-size: 12px;
	}
}


/* screen size for 1280 x 800 / hd */
@media screen and (max-width: 427px) {
	h2 {
		font-size: 13.0px;
		padding-bottom: 10px;
	}
	
	ul, li, p {
		font-size: 10.0px;
		padding-bottom: 8px;
	}
	
	.credit {
		font-size: 9.0px;
	}

	.recordistatwork {
		width: 200px;
	}

	.page3buttons td {
		font-size: 10px;
	}
}